@{
    ViewBag.Title = "About";
}


<h2>@ViewBag.Title The Project</h2>



<h1 class="text-center text-primary">
    <p>  TAX MANAGEMENT SYSTEM </p>


    BY  <br />



    AKIODE OLUWAKEMI OPEYEMI
    NOU192015814 <br />
    <p></p>


    A M. Sc Project Presented for the     <p></p>

    Award of Master of Science Degree in Information Technology,<br />     <p></p>
    
    Department of Computer Science,<br />     <p></p>
    Faculty of Science,<br />     <p></p>
    National Open University of Nigeria, Abuja, Nigeria.<br />     <p></p>




    MARCH, 2020

</h1>